@font-face {
  font-family: 'Be Vietnam Pro', sans-serif;
  src: url('../../fonts/BeVietnam/BeVietnamPro-Regular.ttf');
}

.site-header {
  width: 100%;
  background-color: #181B29;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 25%);
}

.container-topbar {
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

/* .left-container-topbar {
nenhuma alteração de css necessária por enquanto
} */

.logo {
  width: 150px;
  filter: brightness(0) invert(1);
}

.right-container-topbar {
  margin-left: auto;
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation-item {
  padding: 0 15px;
  color: #ffffff;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.navigation-item:hover {
  color: #1e73be;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navigation-item-arrow::after {
  margin-left: 7px;
  content: '⮟';
  display: inline-block;
  transform: rotate(180deg);

}

@keyframes rotationShow {
  from {transform: rotateZ(180deg)}
  to {transform: rotate(0deg)}
}

.navigation-item-arrow:hover::after {
  animation: rotationShow .5s forwards
}