.left-column-options {
  width: 15%;
  float: left;
}

.home-option, .sell-option, .products-option, .reports-option, .customer-option {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 25px;
}

.home-option {
  background-color: #00aeff;
}

.sell-option {
  background-color: #00a6f2;
}

.customer-option  {
  background-color: #00a3ed;
}

.products-option {
  background-color: #00a1eb;
}

.reports-option {
background-color: #009de6;
}

.home-option img, .sell-option img, .products-option img, .reports-option img, .customer-option img {
  filter: invert(1);
  width: 60px;
  padding-top: 25px;
}
